body {
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  margin: 0 0 35px 60px;
}

.header > h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.add-todo-form {
  display: flex;
  flex-direction: row;
  column-gap: 13px;
}

.add-todo-input {
  height: 25px;
  border: 2px solid rgb(95, 95, 95);
  border-radius: 4px;
  padding: 4px 0 4px 10px;
  font-size: 15px;
}

.add-todo-btn {
  padding: 0 18px;
  font-size: 15px;
  background: rgb(95, 95, 95);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.1s;
}

.add-todo-btn:active {
  background: rgb(60, 60, 60);
}

hr {
  height: 3px;
  background: rgb(95, 95, 95);
}

.todo-list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  /* width: fit-content; */
  margin: 35px 0 0 60px;
}

.todo-el {
  width: 325px;
  display: inline-flex;
  column-gap: 5px;
  align-items: center;
  padding: 0 25px 0 30px;
  border: 1px solid rgb(95, 95, 95);
  border-radius: 8px;
}

.todo-el-text {
  margin-right: 27px;
  font-size: 18px;
  flex-grow: 1;
  overflow-wrap: anywhere;
}

.todo-el-btn {
  font-size: 15px;
  color: white;
  background: rgb(95, 95, 95);
  border: none;
  border-radius: 4px;
  padding: 7px 13px;
  cursor: pointer;
}

.todo-el-btn:active {
  background: rgb(60, 60, 60);
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
